body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

header {
  padding: 1em;
  background-color: #3f9380;
  color: #fff;
}

.title {
  margin: auto auto;
  display: inline-block;
}

.subtitle {
  display: inline-block;
  float: right;
}

.header-link:link, .header-link:visited {
  color: #fff;
  text-decoration: none;
}

.header-link:hover {
  color: #dadada;
}

.stats-container {
  display: inline-block;
  text-align: right;
  margin: 1em;
  float: right;
  width: 50%;
}

.stats-card {
}

.search-container {
  width: 60%;
  margin: 4em auto;
  padding: 1em;
  background-color: #e2e2e2;
  border-radius: 2px;
}

.search-group {
  margin: auto auto;
  width: 80%;
}

.input-summoner {
  background-color: #fff;
  margin: 1em;
  border-radius: 2px;
  border: 1px solid #696969;
  color: #000;
  height: 2em;
  width: 70%;
  padding: .3em;
  font-size: 1.2em;
}

.input-region {
  height: 3em;
}

.submit-search {
  display: block;
  margin: auto;
  height: 2em;
}

.summoner-container {
  display: inline-block;
  float: left;
  width: 30%;
  margin: 1em;
}

.summoner-info {
  margin: 1em;
  display: inline-block;
}
